.form-holder{
    border: 1px solid #ccc;
    border-radius:5px;
    padding:20px;
}
.btn{
    cursor:pointer;
}
.error{
    color:red;
    font-size:10px;
}
.img-holder{
    float: left;
    box-shadow: 0px 0px 15px #ccc;
    padding: 10px;
    border-radius: 10px;
}
.img-holder img{
    width:100%;
    height:200px;
}
.img-option{
    padding: 10px;
}
.btn:focus {box-shadow:none;}
.btn-gallery{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
    width: 80px;
}
.panel-img{
    width:100px;
}
@media (min-width: 768px) {
    .sidebar .nav-item .nav-link span {
        font-size: 0.9rem;
        display: inline;
    }
}
.sidebar{
    background-color: #6954e1;
}
.sidebar > li.nav-item:hover{
    background: #322560;
}
li.breadcrumb-item a{
    color: #6954e1;
}
.bg-dark, .bg-primary, .bg-success, .bg-danger, footer.sticky-footer{
    background: linear-gradient(to right,#322560, #6954e1);
}
footer.sticky-footer span{
    color: #fff;
}
.btn-primary{
    background: linear-gradient(to right,#6954e1,#322560);
    border:none;
}
footer.sticky-footer{
    width: 100%;
    position:relative;
}